/*browser reset*/
.box {
  background-color: #8ea86e;
  color: #fff;
  text-align: center;
  margin: 20px;
}

div,p,body,header,footer,section,article,nav,h1,h2,h3,h4 { 
margin: 0; 
padding: 0; 
} 

img { 
border: none; 
margin: 0; 
padding: 0; 
}
/*END OF RESET*/


/*my CSS*/



.container
{
  width: 960px;
  margin: 0 auto;
  /*background-color: #f1f1;                                      /*CONTAINER COLOR*/
}

.hidden
{
  display: none;
}

.topHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoHeader
{
  width: 220px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
}

/*Nav With Drop-down.. float*/

.navbar {
  overflow: hidden;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 20px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: #6fb8fd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #6fb8fd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*END OF NAV*/

.hook
{
  height: 250px;
  width: 960px;
  background: url(../images/banner_contact.jpg) no-repeat bottom; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hookImage
{
  height: 210px;
  width: 310px; 
  margin-left: 40px;
}

.box1
{
	display: flex;
	align-content: space-between;
	padding-top: 100px;
}

.info
{
	display: flex;
	flex-direction: column;
}

.info h2
{
	font-family: jaf-mashine, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 18px;
	padding-bottom: 20px;
}

.info h3
{
	font-family: jaf-mashine, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.info p
{
	font-family: jaf-mashine, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 14px;
	padding-bottom: 20px;
	padding-left: 40px;

}

.footer
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoFoot
{
  margin-top: 100px;
  margin-bottom: 20px;
}

.copy p
{
  font-size: 10px;
}


/*Nav With Drop-up.. float*/

.navFoot {
  margin-top: auto;
  overflow: hidden;
}

.navFoot a {
  float: right;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.flipUp {
  float: right;
  overflow: hidden;
}

.flipUp .flipbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 20px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navFoot a:hover, .flipUp:hover .flipbtn {
  color: #6fb8fd;
	
}

.flipUp-content {
  display: none;
  position: absolute;
	bottom: 18%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.flipUp-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.flipUp-content a:hover {
  color: #6fb8fd;
}

.flipUp:hover .flipUp-content {
  display: block;
}